body {
     background-color: ivory  ;
     background-image: url('');
     background-size:90% 90%
}

#baslik {
   
    height:20px ;
    width:auto;
    margin-bottom:5px;
}



#tablo {
   
    height: auto;
    width: auto;
    margin-bottom: 5px;
}


#resimler {
    
    height: 500px;
    width: auto;
    margin-bottom: 5px;
}



#div.anadiv {height: auto;
     width:auto;
     
}

#form1.auto { height: auto;
     width:auto;
}

#form1 { 
    width :auto;
	background: transparent    url()     repeat ;  
	margin-bottom: 10px;  
	padding: 10px;  
	border-left: 0;  
	border-right: 0;  
	overflow: hidden;  
	border-radius: 5px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	box-shadow: 0 0 20px #BAD8E0 inset, 0 0 5px #CCCCCC;  
	-moz-box-shadow: 0 0 20px #BAD8E0 inset, 0 0 5px #CCCCCC;  
	-webkit-box-shadow: 0 0 20px #BAD8E0 inset, 0 0 5px #CCCCCC;  
	
}

.gbutton {

border: 1px solid #3079ed;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color: #4d90fe;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
display: inline-block;
min-width: 46px;
text-align: center;
color: #444;
font-size: 11px;
font-weight: bold;
height: 27px;
padding: 0 8px;
line-height: 27px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid #dcdcdc;
background-color: #f5f5f5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: default;
}


#GridView2 {
     margin:auto;
}